<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package itemId="HtmlAgilityPack" version="1.4.6" targetFramework="net452" />
  <package itemId="Lucene.Net" version="3.0.3" targetFramework="net452" />
  <package itemId="Microsoft.AspNet.Cors" version="5.2.3" targetFramework="net452" />
  <package itemId="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net452" />
  <package itemId="Microsoft.AspNet.OData" version="5.9.0" targetFramework="net452" />
  <package itemId="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net452" />
  <package itemId="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net452" />
  <package itemId="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net452" />
  <package itemId="Microsoft.AspNet.WebApi.Cors" version="5.2.3" targetFramework="net452" />
  <package itemId="Microsoft.AspNet.WebApi.WebHost" version="5.2.3" targetFramework="net452" />
  <package itemId="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net452" />
  <package itemId="Microsoft.Extensions.DependencyInjection" version="1.0.0" targetFramework="net452" />
  <package itemId="Microsoft.Extensions.DependencyInjection.Abstractions" version="1.0.0" targetFramework="net452" />
  <package itemId="Microsoft.OData.Core" version="6.15.0" targetFramework="net452" />
  <package itemId="Microsoft.OData.Edm" version="6.15.0" targetFramework="net452" />
  <package itemId="Microsoft.Spatial" version="6.15.0" targetFramework="net452" />
  <package itemId="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net452" />
  <package itemId="Newtonsoft.Json" version="6.0.8" targetFramework="net452" />
  <package itemId="SharpZipLib" version="0.86.0" targetFramework="net452" />
  <package itemId="Sitecore.Kernel" version="8.2.161221" targetFramework="net452" developmentDependency="true" />
  <package itemId="Sitecore.Logging" version="8.2.161221" targetFramework="net452" developmentDependency="true" />
  <package itemId="Sitecore.Logging.Client" version="8.2.161221" targetFramework="net452" developmentDependency="true" />
  <package itemId="Sitecore.NVelocity" version="8.2.161221" targetFramework="net452" developmentDependency="true" />
  <package itemId="Sitecore.Services.Core" version="8.2.161221" targetFramework="net452" developmentDependency="true" />
  <package itemId="Sitecore.Services.Infrastructure" version="8.2.161221" targetFramework="net452" developmentDependency="true" />
  <package itemId="Sitecore.Services.Infrastructure.Sitecore" version="8.2.161221" targetFramework="net452" developmentDependency="true" />
  <package itemId="Sitecore.Zip" version="8.2.161221" targetFramework="net452" developmentDependency="true" />
  <package itemId="System.Collections" version="4.0.11" targetFramework="net452" />
  <package itemId="System.Collections.Concurrent" version="4.0.12" targetFramework="net452" />
  <package itemId="System.ComponentModel" version="4.0.1" targetFramework="net452" />
  <package itemId="System.Diagnostics.Debug" version="4.0.11" targetFramework="net452" />
  <package itemId="System.Globalization" version="4.0.11" targetFramework="net452" />
  <package itemId="System.Linq" version="4.1.0" targetFramework="net452" />
  <package itemId="System.Linq.Expressions" version="4.1.0" targetFramework="net452" />
  <package itemId="System.Net.Http" version="4.0.0" targetFramework="net452" />
  <package itemId="System.Reflection" version="4.1.0" targetFramework="net452" />
  <package itemId="System.Resources.ResourceManager" version="4.0.1" targetFramework="net452" />
  <package itemId="System.Runtime.Extensions" version="4.1.0" targetFramework="net452" />
  <package itemId="System.Threading" version="4.0.11" targetFramework="net452" />
  <package itemId="System.Threading.Tasks" version="4.0.11" targetFramework="net452" />
</packages>